body {
    background: url("achtergrond.jpg");
    color: #FFFFFF;
    text-shadow: 2px 1px #000000
}
p {
    width: 500px;
    height: 250x;
}


section.contact{
    color: #F2F2F2;
    background-color: rgba(2, 247, 255, 0.00);
    bottom: -500px;
    right: 0px;
    position: absolute;
}